@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root{
    --primary-color: #8ad7c1;
}


/* body styling */
body{
    font-family: 'Redressed', cursive;
    /* background-color: var(--primary-color); */
}

header{
    background-color: var(--primary-color);
    width: 100%;
    padding: 0;
}

.hero-txt{
    margin:0px;
}

main{
    align-items: center;
    margin:auto;
}
textarea{
    margin:1rem;

}

footer{
    margin: auto;
    max-width: 500px;
    text-align: center;
    font-size: 1.5rem;
}
p{
    text-align: justify;
}

#output{
    border: 1px solid black;
    width: 80%;
    height: 10vh;
    margin: 1rem 2rem;
    font-size: large;
    padding: 1rem;
}
