@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

:root{
    --primary-color: #8ad7c1;
}


/* body styling */
body{
    font-family: 'Redressed', cursive;
    background-color: var(--primary-color);
}

header{
   text-align: center;
   font-size: 1.5rem;
}

main{
    align-items: center;
    margin:auto;
}


textarea{
    margin: 1rem 4rem;
    display: block;
    width: 80%;
    height: 13vh;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

#btn-translate{
    border-radius: 1rem;
    display: block;
    margin:auto;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: white;
    color: black;
}

footer{
    margin: auto;
    max-width: 600px;
    text-align: center;
    font-size: 1.5rem;
}


p{
    text-align: justify;
}

#output{
    display: block;
    margin: 1rem 4rem;
    width: 80%;
    height: 13vh;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid black;
    font-size: 1.5rem;
    
}
